{#
/**
 * @file myusers.html.twig
 * Default theme implementation to present My Users data.
 *
 * This template is used when viewing My Users pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_myusers()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('myusers') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
